fastapi
fastapi[standard]
openai
requests
prompty[azure]==0.1.50
azure-ai-evaluation
pandas
opentelemetry-instrumentation-fastapi
jsonlines
python-dotenv==1.0.1
azure-search-documents==11.4.0
gunicorn==23.0.0
jupyter
opentelemetry-sdk
opentelemetry-instrumentation
azure-identity==1.21.0
gunicorn==23.0.0
azure-keyvault-secrets
aiohttp==3.10.11
azure-cognitiveservices-speech==1.37.0
nbconvert
azure-ai-evaluation
validators
azureml-mlflow
azure-monitor-opentelemetry
opentelemetry-instrumentation-openai
azure-ai-inference[opentelemetry]
azure-ai-projects==1.0.0b9
azure-ai-contentsafety
azure-ai-ml
tenacity
marshmallow==3.23.2
mcp==1.6.0
semantic-kernel==1.28.1

